<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="NotificationBinding" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://receiver.ramonsmits.com/contact" binding="basicHttpBinding"
                bindingConfiguration="NotificationBinding" contract="NotificationPort"
                name="Notification" />
        </client>
    </system.serviceModel>
</configuration>